*{
  margin: 0;
  padding: 0;
}

body{
background-color: orange;  
display: flex;
flex-direction: column;
min-height: 100%;
}

header > nav {
text-align: center;
padding: 20px;
}

header > h1 {
  text-align: center;
  color:white;
  font-size: 3rem;
}

 header  a {
  color:white;
  font-weight: bolder;
  text-decoration: none;
  padding: 20px;
 }


 header  a:hover {
padding: 10x;
color: red;
border-style: dotted;
}


img{
  height: 150px;
  flex-wrap: wrap;
}

img:hover {
  scale: 1.1;
  cursor: pointer;
}

main > .container{
  display: flex;
  background-color: white;
  justify-content: center;
  padding:100px;
  
}



footer{

  text-align: center;  
  margin-top: auto; 
  height: 100px;
  background-color: black;
  color:white; 
}

footer > h4{
margin-top:50px;

}
